{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="{% static 'imgs/mammoth.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        {% block navbar %}
            {% include "navbar.html" %}
        {% endblock navbar %}
    </header>
    <main>
        {% include "messages.html" %}
        {% block content %}{% endblock content %}
    </main>
    <footer></footer>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>